body{
    background-image: url("Background-night.png");
    
}
#box{
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 5%;
    gap: 5%;
}

#mode{
    font-size: 200px;
    font-size: larger;
    cursor: pointer;
}
#emoji{
    font-size: 50px;
}
.rps{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.224);
    border-radius: 10px;
}
@media (min-width: 360) and (max-width: 920px) {
  .rps {
    width: 30%;
  }
}
#refresh{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.points{
    background-color: rgba(255, 255, 255, 0.224);
    width:200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: 30px;
    text-align: center;
}

.rps:hover{
    background-color: rgba(255, 255, 255, 0.224);
    border: 1px solid white;
    cursor: pointer;
}
.name{
    font-size: larger;
    color: white;
}
#win-status{
    color: rgb(255, 255, 255);
    width:500px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 30px;
    text-align: center;
    justify-self: center;
    margin-top: 10%;
    padding-top: 1%;
    background-color: rgba(255, 255, 255, 0.224);
}
